.body p{
    font-size: 3vmin;
    margin-right: 10%;
    margin-left: 10%;
}

.body h2{
    margin-left: 13%;
    font-size: 4vmin;
}

.body h3{
    margin-left: 50%;
    font-size: 3.6vmin;
}

.togglesT h2{
    text-align: center;
    font-size: 3.5vmin;
    display: inline;
    margin-left: 10em;
    font-weight: 100;

}

.togglesT nav{
    float: none;
    display: inline;
    left: 26vw;
    background-color: white;
    position: sticky;
}

.togglesT button{
    border-radius:10%;  
    background-color: #4CAF50;
    font-size: 1.1em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.togglesT button:hover{
    text-decoration: underline;
    font-size: 4vmin;
}

.toggles h2{
    text-align: center;
    font-size: 3.5vmin;
    display: inline;
    margin-left: 10em;
    font-weight: 100;


}

.toggles nav{
    float: none;
    display: inline;
    left: 26vw;
    background-color: white;
    position: sticky;
}

.toggles button{
    border-radius:10%;  
    background-color: #f44336;
    font-size: 1.1em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

.toggles button:hover{
    text-decoration: underline;
    font-size: 4vmin;
}

.header nav{
    float: none;
    display: inline;
    left: 26vw;
    background-color: white;
    position: sticky;
}

.header h3{
    text-align: center;
    font-size: 4vmin;
    display: inline;
    margin-left: 2em;
    font-weight: 100;

}

.header a:hover{
    text-decoration: underline;
    color: #3377cc;
    font-size: 5vmin;
}

.header a{
    text-decoration: none;
    color: black;
}

.footer img{
    height: 15vmin;
    width: 15.3vmin;
    margin-left: .3em;
    border-radius: 10%;
    bottom: 0.2vh;
}

.footer nav{
    float: auto;
    right: 45vw;
    bottom: 0.2vh;
    position: absolute;
    
}

.footer img:hover{
    transform: scale(1.15);
}
.footer{
    width:100%;
}

